* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #c12;
	text-align: center;
}

.header {
	height: 55px;
	padding-top: 15px;
	background-color: #fff;
}

.header h1 span {
	color: #c12;
}

.main {
	border: 5px solid #fff;
	height: 430px;
	color: #fff;
	padding-top: 50px;
}

.main form {
	width: 360px;
	display: inline-block;
}

.main form label {
	display: block;
	width: 150px;
	height: 25px;
	float: left;
	font-size: 20px;
	margin: 5px 0px;
	text-align: right;
}

.main form input {
	width: 200px;
	height: 25px;
	margin: 5px 0px;
}

.main form .radio {
	width: 350px;
	height: 25px;
	display: flex;
	margin-bottom: 10px;
}

.main form .radio input {
	margin-top: 3px;
	margin-left: 10px;
}

.main form .radio span {
	width: 300px;
	padding-right: 10px;
	margin-top: 5px;
	font-size: 18px;
}

select {
	margin-top: 5px;
	width: 200px;
	font-size: 18px;
	text-align: center;
	font-family: "Times New Roman";
}

option {
	background-color: #c12;
	color: #fff;
}

.main form .btn {
	width: 360px;
	display: flex;
	margin-top: 10px;
}

.main form .btn input {
	margin: 10px 5px;
	height: 50px;
	font-size: 20px;
	background-color: #c12;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	font-family: "Times New Roman";
}

.main form .btn input:hover {
	background-color: #fff;
	color: #c12;
	border: 2px solid #c12;
}
.main table {
	background-color: #eee;
	padding: 10px 15px;
	margin-left: 510px;
	font-size: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.main table td {
	padding: 0px 1px;
}

.main .back a {
	display: inline-block;
	width: 100px;
	color: #c12;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 5px;
	background-color: #fff;
	outline: none;
	border: 1px solid #000;
	text-decoration: none;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.main .back a:hover {
	background-color: #c12;
	color: #fff;
	border: 1px solid #fff;
}
.footer {
	background-color: #fff;
	height: 55px;
}
.footer p {
	font-size: 20px;
}
